	    <div class="row">
		    <div class="span12">
			    <div class="row">
				    <aside class="span2">
				    	<%= render 'dashboard/layouts/menu_metrics' %>
				    </aside>
				    <div class="span10">
						<%= render 'dashboard/layouts/social_content_tab' %>
				    </div>
			    </div>
		    </div>
	    </div>
