<% provide(:title, "Engagement") %>

<%= render 'dashboard/charts/charts_engage' %>

<div class="engage_div">
	<%= render 'dashboard/layouts/engage_medals' %>
</div>
<%= render 'dashboard/shared/graph', :graph => "graph_div" %>
<%= render 'dashboard/shared/table' %>
