<div class="center">
	<h1>Bienvenido a SocialWin Analytics</h1>

  <h2>
    Analiza tu red social con nuestro método 
    <a href="http://www.socialwin.es/">SocialWin</a>.
  </h2>

</div>

<div class="center hero-unit">
	<%= link_to "Entrar con Facebook", "/auth/facebook", class: "btn btn-large btn-primary", style: "width: 140px;" %>    
	O
	<%= link_to "Entrar con Twitter", "/auth/twitter", class: "btn btn-large btn-info", style: "width: 140px;"  %>
</div>
