<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
<% if Rails.env.production? %>
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
<% else %>
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID_DEV %>";
<% end %>
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


<% provide(:title, "Tu palabra nos importa") %>


<div class="center">
	<h2>Tu comentarios e ideas nos importan</h2>

</div>

<div class="center hero-unit">

<section>
<div style="text-align:left;">
	<% if Rails.env.production? %>
	<div class="fb-comments" data-href="http://apps.facebook.com/swinanalytics/" data-width="470" data-num-posts="30"></div>
	<% else %>
	<div class="fb-comments" data-href="/habla/" data-width="470" data-num-posts="30"></div>
	<% end %>
</div>
</section>

</div>

