
<div class="center hero-unit">
	<h1>Bienvenido a SocialWin Analytics</h1>

  <h2>
    Analiza tu red social con nuestro método 
    <a href="http://www.socialwin.es/">SocialWin</a>.
  </h2>

  <%= link_to "Entrar con Twitter", "/auth/twitter", class: "btn btn-large btn-info" %>    

  <%= link_to "Entrar con Facebook", "/auth/facebook", class: "btn btn-large btn-primary" %>    
    
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
