<!--
<div class="center">
  <h1>Bienvenido a SocialWin Analytics</h1>

  <h2>
    Analiza tu red social con nuestro método 
    <a href="http://www.socialwin.es/">SocialWin</a>.
  </h2>

</div>
-->

<div class="center hero-unit home">


		<div class="span5">
		</div>
		<div class="span4 loginhome">

				<%= link_to "Entra con Facebook", "/auth/facebook", class: "fbutton facebook ico pull-left" %>

		        <div class="clearfix"></div>
		        
		        <div style="text-align:left;">
		        	<p style="color:#3B5998;">Monitorizando más de <%=  @pages %> páginas</p>
		        	<!-- <li>Ya hay <%=  @users %> usuarios registrados1!</li> -->
		        </div>

		        <div class="clearfix"></div>

		        <div class="facepile">
		            <fb:facepile max_rows="2" width="580"></fb:facepile>
		        </div>

		</div>


		<div class="span5 titulos">

			<h1>MIDE TU ENGAGEMENT!</h1>

			<p>Descubre cómo se posiciona <span class="color_facebook">tu FANPAGE de Facebook </span>con nuestra app SocialWin Analytics</p>	
		</div>
   
<!-- 
	O
	<%= link_to "Entrar con Twitter", "/auth/twitter", class: "btn btn-large btn-info", style: "width: 140px;"  %>
-->    

	
</div>
