
<div id="graph_div" data-column-chart="" style="height: 300px;">
	<img alt="Loader" class="spinner" height="24" src="/assets/loader.gif" width="24" />
</div>
<div id="table">
</div>

<%= chart_test_tag(300, {:chart => 'test0'}) %>

<%= chart_test_tag(300, {:chart => 'test0', type: 'LineChart'}) %>





<%= chart_test_tag(300, {:chart => 'test1'}) %>

<%= chart_test_tag(300, {:chart => 'test1', :type => 'Table' }) %>




