<%= chart_test_tag(300, {:chart => 'test0'}) %>

<%= chart_test_tag(300, {:chart => 'test1'}) %>

<%= chart_test_tag(300, {:chart => 'test1', :type => 'Table' }) %>


<div id="dibujito">
	aaaa
</div>
