<% provide(:title, "Youtube") %>

<div class="center well">
	<h2>¿Te gustaría monitorizar canales de Youtube?</h2>
	<p>Si estás interesado en que desarrollemos el análisis competitivo de Youtube, <strong>haz clic en "Me gusta" o deja un comentario</strong> con tus opiniones. </p>
	<div class="row"><div class="fb-like" data-href="http://analytics.socialwin.es/youtube" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div></div>
</div>




<% if Rails.env.production? %>
	<div class="fb-comments" data-href="http://apps.facebook.com/socialwinapp/youtube" data-width="470" data-num-posts="30"></div>
<% else %>
	<div class="fb-comments" data-href="http://apps.facebook.com/swinanalytics/youtube/" data-width="470" data-num-posts="30"></div>
<% end %>
