<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
<% if Rails.env.production? %>
  appId: '<%= FACEBOOK_APP_ID %>',
<% else %>
  appId: '<%= FACEBOOK_APP_ID_DEV %>',
<% end %>
cookie:true,
status:true,
xfbml:true
});
 
function FacebookInviteFriends()
{
FB.ui({
method: 'apprequests',
message: 'Join and compare Facebook pages'
});
}
</script>
 
<div id="fb-root"></div> 

			<div class="space"></div>
			<a href='#' onclick="FacebookInviteFriends();" class="btn btn-warning" style="text-decoration: none">
			<strong> Invita a tus amigos!</strong></a>
			
