
<div class="social-buttons">
	
	<div id="Twitter_Counter">
		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
			   if(!d.getElementById(id)) {
					js=d.createElement(s);
					js.id=id;
					js.src="//platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document,"script","twitter-wjs");
		</script>
		<iframe scrolling="no" frameborder="0" allowtransparency="true" 
				src="http://platform.twitter.com/widgets/tweet_button.1363148939.html#_=1365167447814&amp;
				count=horizontal&amp;id=twitter-widget-0&amp;lang=es&amp;
				original_referer=<%= request.protocol + request.host_with_port + request.fullpath %>&amp;
				size=m&amp;
				text=Monitoriza tu red social &amp;
				url=<%= request.protocol + request.host_with_port + request.fullpath %>/&amp;
				via=SocialWinApp" 
				class="twitter-share-button twitter-count-horizontal" style="width: 117px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true">		
		</iframe>
	</div><!--endTwitter-->	  

	<div class="fb-like" data-href="http://analytics.socialwin.es" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true">
	</div><!--endFavebook--> 
	
</div>