					    <nav class="tabbable"> <!-- Only required for left/right tabs -->
						    <ul class="nav nav-tabs">

							    <li class="active"><a href="#facebook" data-toggle="tab">Facebook</a></li>

							    <li class="disabled"><a href="#" data-toggle="tab">Twitter</a></li>
							    <li class="disabled"><a href="#" data-toggle="tab">Youtube</a></li>

						    </ul>
						    <div class="tab-content">
							    <div class="tab-pane active" id="facebook">
									<div class="cuadro graph">
					                  <!--Div that will hold the pie chart-->
					                  <div id="graph_div"></div>
									</div>
									<div class="cuadro tabla">
						  				<div id="table"></div>
									</div>
							    </div>

<!--
							    <div class="tab-pane" id="twitter">
									<div class="cuadro graph">
									    <p>Twitter</p>
									</div>
									<div class="cuadro tabla">
									</div>
							    </div>

							    <div class="tab-pane" id="youtube">
									<div class="cuadro graph">
									    <p>Youtube</p>
									</div>
									<div class="cuadro tabla">
									</div>
							    </div>
-->


						    </div>
					    </nav>
