  

<% @data.drop(1).each do |logo| %>

	<div id="engageBox">
	  <%= raw logo[5] %>
	  <div class="engageMedal">
	     <span id="engageNumber"><%= raw logo[4] %></span>
	  </div>
	</div>
	
<% end %>  
