<% provide(:title, @metric_name) %>

<h4>Dashboard</h4>             

         
                <ul class="nav nav-pills">
                   <li><a href="#" class="btn">Hoy</a></li> 
                   <li><a href="#" class="btn">15</a></li>
                   <li><a href="#" class="btn">30</a></li>
                   <li><a href="#" class="btn">90</a></li>
                   <li><a href="#" class="btn"><i class="icon-calendar"></i></a></li>
                </ul>
                
                <ul id="pasts" class="unstyled">
                   <li>
	               		<a class="btn past past-green" href="#">
	                   		<div class="past-title">ENGAGEMENT</div>
	                   		<div class="past-percent">67%%</div>
	                   		<div class="past-var">+25%%</div>                   		
	               		</a>
               	   </li> 
                   <li>
	               		<a class="btn past past-orange" href="#">
	                   		<div class="past-title">TAMAÑO</div>
	                   		<div class="past-percent">67%</div>
	                   		<div class="past-var">+25%%</div>                   		
	               		</a>
               	   </li> 
                   <li>
	               		<a class="btn past" href="#">
	                   		<div class="past-title">CRECIMIENTO</div>
	                   		<div class="past-percent">67%</div>
	                   		<div class="past-var">+25%</div>                   		
	               		</a>
               	   </li> 
                   <li>
	               		<a class="btn past " href="#">
	                   		<div class="past-title">ACTIVIDAD</div>
	                   		<div class="past-percent">67%</div>
	                   		<div class="past-var">+25%</div>                   		
	               		</a>
               	   </li>                	                  	   
                </ul>