<% provide(:title, "Busca competidores") %>

<div class="alert alert-block alert-error fade in">
	<button data-dismiss="alert" class="close" type="button">×</button>
	<h4 class="alert-heading">Aún no sigue a suficientes competidores. Necesita <%= MIN_COMPETITORS - @num_competitors %> competidores más.</h4>
	<p>Para empezar a monitorizar, busca y sigue más competidores.</p>
	<p>
		<%= link_to "Añadir competidores", edit_facebook_list_path(@list), class: "btn btn-danger" %>
	</p>
</div>
<div class="data_nil">
	<div class="center">
	  	<h2>Añada <strong>algún competidor</strong> para empezar a monitorizar.
	  		<br><br>Actualmente sigue a <%= @num_competitors || 0 %> competidores</h2>
	</div>
</div>

</div>



