<% provide(:title, "Engagement") %>

<%= render 'facebook/charts/engagement_day_chart' %>

<div class="engage_div">
	<%= render 'facebook/layouts/engage_medals' %>
</div>
<%= render 'facebook/shared/graph', :graph => "graph_div" %>
<%= render 'facebook/shared/table' %>
