<% provide(:title, "Elija una p치gina") %>

<div class="row">
  <aside class="span3 well">	
    <section>
		<h2>P치gina activa</h2>
		<%= render @page, :origin => ''  %>
    </section>

    <section>    
    	<%= render 'change_page_link' %>
    </section>
    
    <section>
		<%= render 'competitors_mini_photos' %>
    </section>
  </aside>

  <div class="span6 well">
	<h1>Estas son tus p치ginas de Facebook</h1>
	
	<h2>Elige una de tus p치ginas para monitorizar y comparar</h2>
	
	<ul class="fb_pages">
		<% @pages.each do |page| %>
		
			<li>
				<%= render page, :origin => 'index' %>

			 </li>
		<% end %>

	</ul>
  </div>
  

</div>


