<% provide(:title, "Mis listas") %>



<div class="span9 well">
	<h2>Elige una de tus listas para monitorizar y comparar</h2>
	
	<ul class="fb_pages">
		<% @pages.each do |page| %>
		
			<li>
				<%= render page, :origin => 'index' %>

			</li>
		<% end %>

	</ul>
	
</div>



