      <% if list.pages.any? %>
        <div class="user_avatars">
          <% list.pages.each do |competitor| %>
          	<%= link_to smart_page_path(competitor), class: "no-decoration"  do %>
          		<%= image_tag get_picture(competitor), class: "mini_logo", alt: competitor.name, title: competitor.name %>
          	<% end %>
          <% end %>
        </div>
      <% end %>
