  <% if list.pages.any? %>
    <div class="list-competitors">
      <% list.pages.each do |competitor| %>
      	<div class="list-competitor">
	      	<%= link_to smart_page_path(competitor), class: "image-competitor"  do %>
	      		<%= image_tag get_picture(competitor), class: "mini_logo", alt: competitor.name, title: competitor.name %>
	      	<% end %>
	  	    <div class="starOff"></div>
	  		<div class="starOn"></div>      		
      	</div>

      <% end %>
    </div>
  <% end %>
