

	<div class="base-btn-facebook">
		<%= link_to "/auth/facebook", id: "", class: "btn btn-large btn-fb" do %>
			<div id="image-facebook"></div><span id="pipe">|</span> Conectar con Facebook
		<% end %>
	</div>	
