				<div id="conectarConFacebook">
					<div id="quieres">
						<p><strong>Want to compare more competitors?</strong></p>
						<p><strong>Try the app</strong></p>							
					</div>			
					<!--btnConectarConFacebook-->	
					<%= render 'site/shared/facebook_button_signin' %>
				</div>