

	<div class="base-btn-facebook">
		<% if signed_in? %>
			<%= link_to "#", id: "btn-facebook", class: "btn btn-fb btn-large" do %>
				<div id="image-facebook"></div><span id="pipe">|</span> Entrar con Facebook
			<% end %>		
		<% else %>
			<%= link_to "#", id: "btn-facebook", class: "btn btn-fb btn-large" do %>
				<div id="image-facebook"></div><span id="pipe">|</span> Conectar con Facebook
			<% end %>
		<% end %>
	</div>	
