

	<div class="base-btn-facebook">
		<%= link_to "/auth/facebook", id: "btn-facebook", class: "btn btn-fb btn-large" do %>
			<div id="image-facebook"></div><span id="pipe">|</span> Conectar con Facebook
		<% end %>
	</div>	
