			<div class="form-case">
			<%= form_tag(search_path, :method => "get", class: "navbar-search search") do %>
				<fieldset>
					<em class="icon-search" id="lent"></em> 
					<%= text_field_tag(:search, params[:search], class: "input search-query", placeholder: "Buscar páginas...", autocomplete: "off") %>
					<%= button_tag(type: "submit", class: "btn btn-danger btn-sw-search") do %>
						BUSCAR
					<% end %>
				</fieldset>
				<% end %>
			</div>	