<div id="informes_sectoriales">
	<div class="container ">
		<h3 class="text-center">Informes sectoriales</h3>
		<div class="container base-informes">	
			<div class="row">
				<div class="span5 offset6 transparencia text-center"> 
					<h3 id="info1">Informes sectoriales</h3>
					<h4 id="info2">QUÉ CADENA DE TV TIENE MEJOR ENGAGEMENT?</h4>
					<p id="info3">Consulta nuestro último Informe Sectorial TV en redes sociales</p>
					<p><a class="btn btn-success btn-large">Descárgate el último informe</a></p>
					<a href="http://www.socialwin.es/informes/" target="_blank" class="violet">consultar todos los informes</a>
				</div>
			</div>
		</div>
	</div>
</div>