
<div id="metodo">
	<div class="container planes">
		<h3>Nuestro método RTB</h3>
		<p>Desarrollado por consultores en Social Media incluye cuatro funcionalidades avanzadas: Monitoring, Análisis competitivo, Reports ad-hoc y cuadro de mandos estratégico. ¡El 360º de las aplicaciones en Social Media!</p>
		<div class="row text-center">
			<div class="span3">
				<img src="img/rtb/base-metodos.png" class="img-circle">
				<h4 class="text-center">MONITORING</h4>
				
			</div>
			<div class="span3">
				<img src="img/rtb/base-metodos.png" class="img-circle">
				<h4 class="text-center">COMPETITIVE ANALYSIS</h4>
			</div>
			<div class="span3">
				<img src="img/rtb/base-metodos.png" class="img-circle">
				<h4 class="text-center">RESEARCHS & REPORTS</h4>
			</div>
			<div class="span3">
				<img src="img/rtb/base-metodos.png" class="img-circle">
				<h4 class="text-center">STRATEGIC DASHBOARD</h4>
			</div>				
		</div>
	</div>
</div><!--nedMetodo-->
