<div id="top-search">
<div class="container">
	<div class="row">
		
		 <div class="span8 offset2"> <!-- buscador -->
			<div class="try-search text-center" >
				
			    <h3 class="sw-violet">Don't want to signup?</h3>
				<h4 class="sw-white">Search your competitors!</h4>				
				<%= render 'site/shared/search_box' %>
				
			</div>
		 </div>
		
	</div><!--row-->
</div>	
</div><!--search-->