
<div id="partners">
	<div class="container">
		<h3 class="text-center">Nuestros partners</h3>
		<hr />
		<ul>
			<li><a><div class="image-partner" id="seedrocket"></div></a></li>
			<li><a><div class="image-partner" id="bertelsmann"></div></a></li>
			<li><a><div class="image-partner" id="iebs"></div></a></li>
			<li><a><div class="image-partner" id="gigas"></div></a></li>
			
			<li><a><div class="image-partner" id="metricson"></div></a></li>
			<li><a><div class="image-partner" id="lasalle"></div></a></li>
			<li><a><div class="image-partner" id="digitalweek"></div></a></li>
			<li><a><div class="image-partner" id="busco"></div></a></li>
			
			<li><a><div class="image-partner" id="global"></div></a></li>
			<li><a><div class="image-partner" id="socialday"></div></a></li>
			<li><a><div class="image-partner" id="congres"></div></a></li>
			<li><a><div class="image-partner" id="school"></div></a></li>
		</ul>
	</div>
</div>