
<div id="partners">
	<div class="container">
		<h3 class="text-center">Nuestros partners</h3>
		<hr />
		<ul> 
			<li><a href="http://www.seedrocket.com/" target="_blank" title="SeedRocket"><div class="image-partner" id="seedrocket"></div></a></li>
			<li><a href="http://www.bertelsmann.com/" target="_blank" title="Bertelsmann"><div class="image-partner" id="bertelsmann"></div></a></li>
			<li><a href="http://www.iebschool.com/" target="_blank" title="iebschool"><div class="image-partner" id="iebs"></div></a></li>
			<li><a href="https://gigas.com/" target="_blank" title="gigas"><div class="image-partner" id="gigas"></div></a></li>
			
			<li><a href="http://metricson.com/" target="_blank" title="Metricson"><div class="image-partner" id="metricson"></div></a></li>
			<li><a href="http://www.salleurl.edu/" target="_blank" title="Lasalle"><div class="image-partner" id="lasalle"></div></a></li>
			<li><a href="http://digitalweek.es/" target="_blank" title="Digitalweek"><div class="image-partner" id="digitalweek"></div></a></li>
			<li><a href="http://www.buscoseo.com/" target="_blank" title="Buscoseo"><div class="image-partner" id="busco"></div></a></li>
			
			<li><a href="http://www.gewspain.es/global" target="_blank" title="Global Enterpreneurship Week"><div class="image-partner" id="global"></div></a></li>
			<li><a href="http://mashable.com/smday/" target="_blank" title="Mashable"><div class="image-partner" id="socialday"></div></a></li>
			<li><a href="http://webcongress.com/" target="_blank" title="Webcongress"><div class="image-partner" id="congres"></div></a></li>
			<li><a href="http://webschool.com/" target="_blank" title="Webschool"><div class="image-partner" id="school"></div></a></li>
		</ul>
	</div>
</div>