<div id="a_quien">
	<div class="container a_quien">
		<h3 class="text-center">A quién va dirigido</h3>
		<hr />
			<div class="row">
				<div class="span4">
					<h5 id="marketers" class="quienes">MARKETERS</h5>
					<p>Conviértete en el Rey o la Reina de los reports en redes sociales. Elige el sector, las métricas,  y los competidores que te interesen  y en tiempo real tendrás el informe que necesitas. Fácil, y en pocos clics podrás realizar investigaciones de mercado ad-hoc. ¡Resalta los datos que te interesen!</p>
				</div>
				<div class="span4">
					<h5 id="community" class="quienes">COMMUNITY MANAGERS</h5>
					<p>Agilizamos tu labor diaria, automatizando procesos que generan datos en real time. Podrás monitorizar a tu competencia e identificar las buenas prácticas.  Recolectar datos a mano  para analizar campañas 2.0 es waste. Te agilizamos este proceso de forma automática. ¡Tendrás tiempo para mejorar tus métricas! </p>
				</div>
				<div class="span4">
					<h5 id="social" class="quienes">SOCIAL MEDIA STRATEGISTS</h5>
					<p>El “juguete” que agilizará tu actividad diaria,  nos encargamos de analizar los datos de las redes sociales en clave estratégica, y así puedes enfocarte en desarrollar estrategias y tomar decisiones de una forma más eficaz. ¡La herramienta que hará tu día a día más fácil!</p>
				</div>
			</div>
	</div>
</div>
