@import "bootstrap";


/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$azulSocialWin: #76d4e5; 
$facebookcolor: #3B5998; 

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;  font-weight: bold;
}


@mixin recuadrogris {
  background-color:transparent ; // #eeeeee
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


body{
    background:url(body-tail.gif) 0 0 repeat-x #fff;
    position:relative;
    padding-top:54px;
    font-size:13px;
    line-height:18px
}

#app_content {
    padding-bottom: 37px;
    padding-top: 10px;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */ 

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blue;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: $azulSocialWin;
    text-decoration: none;
  }
}




/* sidebar */
// se usa en users/show.html.erb
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    p { clear:both;
    }
  }
}

aside .well{
  max-width:340px;
  padding:8px 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.comp_avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.mini_logo {
  height: 25px;
  width: 25px;
}

.normal_logo {
  height: 50px;
  width: 50px; 
}


.header_logo {
  height: 30px;
  width: 30px; 
}

.no-decoration {
    &:hover{ 
      text-decoration: none;
    }
}

.user-session {
  display: inline-block;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

  
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
} 

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* buttons */

/*.btn-large{
  font-size: 15px;
} 
*/

.signinmenu li a{ 
    margin-left: 15px;
    margin-right: 15px;
    color: white;

}


/* facebook pages */

 
#facepageloop {
  //float: right;
  margin: 10px 0 10px 0px;
  width: 100%;
  
  a {
    display:block;
    border: 1px solid $grayMediumLight;
    padding: 10px;
    text-decoration:none;
    color: $facebookcolor; 
    &:hover {
      border: 1px solid #AAC1D4;
      background-color: aliceblue;
    }
  }

  .logofacebookpage {
    font-size:14px;
    color: #36c;
    margin-bottom: 5px;
    
    img {
      margin-right:20px; 
    }
  }
  
  h2 {
    letter-spacing: 0px;
  }
  
}

/* pages index */

.fb_pages {
  list-style: none;
  margin: 0;
  color: $facebookcolor; 

  li {
    overflow: auto;

    padding: 10px 10px;
    border-bottom: 1px solid $grayLighter;
    &:hover {
      background-color: white;
    }
  }
}


.fb_stats {
  overflow: auto;

  .fb_stat {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    min-width: 80px;
    &:first-child {
      padding-left: 11px;
      border: 0;
    }
  }

  .mini {
    min-width: 50px;
  }
  
  .fb_btn {
    float: right;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    min-width: 80px;
    .btn {
          margin: 20px 0 0 20px;
    }
  }

  strong {
    display: block;
  }
}


.imgpage {
  float: left;
  padding: 5px;
  border: solid 2px transparent;
  &:hover {
    border: solid 2px #eee;
  }
}

.search-box {
  margin-top:1px; 
}

.mini_page_dashboard {
  float: right;
  overflow: hidden;
}

.page_active_dashboard {
  margin-left: 20px;
  overflow: auto;  
}

.newline {
  clear: both;
}

.menu_metricas {
  padding-top: 10px;
}

.menu_competitors {
  padding-top: 40px;
}


.data_graph {
  display: inline-block;
  float: left;
  padding: 10px;
  margin: 0 0 10px 0px;
  border: 6px solid #EEEEEE;
  background:url(/assets/hummingbirds.gif) center no-repeat transparent ;
  min-height: 100px;
  &:first-child {
    margin: 0 5px 10px 0px;
  }
  @include recuadrogris;  
}

.full_width {
    width: 98%;
}


.data_table {
  padding: 10px;
  margin: 0 0 10px 0px;
  background:transparent url(/assets/hummingbirds.gif) center no-repeat;
  min-height: 160px;
  @include recuadrogris;
}


.data_nil {
  padding: 15px;
  margin: 0 0 10px 0px;
  background:solid center no-repeat;
  min-height: 100px;
  @include recuadrogris;
}

.data_follow {
  padding: 5px;
  margin: 0 0 10px 0px;
  background:solid center no-repeat;
  border: solid 1px #eee;
  min-height: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.input-search {
  margin-bottom: 0px;
}

// Engage Medals!

.competitors_div {
  overflow: hidden;
  padding: 10px 15px;
  margin: 0 0 10px 0px;
  @include recuadrogris;
}

#competitors_title {

  #competitorBox { 
    float:left; 
    position:relative;
    margin-right: 35px;
    margin-bottom: 10px;
  }
}

.engage_div {
  overflow: hidden;
  padding: 10px 15px;
  margin: 0 0 10px 0px;
  @include recuadrogris;
}

#engage_medals {

  #engageBox { 
    float:left; 
    position:relative;
    margin-right: 35px;
    margin-bottom: 25px;
    .engageMedal {
      position:absolute;
      top:10px;
      left:14px;
      width: 30px;
      height: 25px;
      margin: 20px; 
      padding-top: 5px; 
      text-align: center;
      border: 1px solid #0088CC; 
      background-color: #0088CC;
  
      -moz-border-radius: 15px 15px 35px 35px;
      -webkit-border-radius: 15px 15px 25px 25px;
      border-radius: 15px 15px 35px 35px;
    
      -moz-box-shadow: rgb(150,150,150) 2px 2px 2px;
      -webkit-box-shadow: rgb(150,150,150) 2px 2px 2px;
      box-shadow: rgb(150,150,150) 2px 2px 2px;  
  
      #engageNumber {
       /* font: bold 16px verdana, sans-serif; */
      /*  text-shadow: rgba(0,0,0,0.5) 1px 1px 1px; */
        color: white;
      }
  
    }
          
    .golden {
      border: 1px solid #FFD700; 
      background-color: #FFD700;
      background: radial-gradient(contain circle, #FFD700, #006699);
      background:  -moz-radial-gradient(center, ellipse, #FFD700 10%, #006699 200%);
      background:  -webkit-radial-gradient(center, ellipse, #FFD700 10%, #006699 200%);
    
      -moz-box-shadow: rgb(240,210,20) 0px 0px 10px;
      -webkit-box-shadow: rgb(240,210,20) 0px 0px 10px;
      box-shadow: rgb(240,210,20) 0px 0px 10px;  
    }
  
    .silver {
      border: 1px solid #C0C0C0;
      background-color: #C0C0C0;
      background: radial-gradient(contain circle, #C0C0C0, #006699);
      background:  -moz-radial-gradient(center, ellipse, #C0C0C0 10%, #006699 200%);
      background:  -webkit-radial-gradient(center, ellipse, #C0C0C0 10%, #006699 200%);
      
      -moz-box-shadow: rgb(150,150,150) 2px 2px 2px;
      -webkit-box-shadow: rgb(150,150,150) 2px 2px 2px;
      box-shadow: rgb(150,150,150) 2px 2px 2px;  
  
    }
       
    .bronze {
      border: 1px solid #D2B48C;
      background-color: #D2B48C;
      background: radial-gradient(contain circle, #D2B48C, #006699);
      background:  -moz-radial-gradient(center, ellipse, #D2B48C 10%, #006699 300%);
      background:  -webkit-radial-gradient(center, ellipse, #D2B48C 10%, #006699 300%);
    }
  
  }

}


.boxshadow {
    background-color: white;  
    background-repeat: no-repeat;
    border-color: #F8F8F8;
    border-style: solid;
    box-shadow: 0px 0px 19px #A09F9F;
    @include recuadrogris;
}


.color_socialwin {
  color: $azulSocialWin;
}

.color_facebook {
  color: $facebookcolor;  
}


/*.home {
  background:url(home.jpg) 0 0 no-repeat #fff;
  height: 600px;

  .titulos {
    margin-top: 200px;
    
    h1 {
      text-align: left;
      margin: 0px 0px 0px 10px;
      color: $azulSocialWin;
      font-size: 30px;
    }
    
    p {
      text-align: left;
      margin: 40px 0px 0px 10px;
      color: #555;
    }
  }
}


.loginhome {
  margin-left: 120px;
  margin-top: 80px;  
}


a.fbutton { 
  text-decoration: none;
}

.fbutton {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    height: 56px;
    line-height: 56px;
    margin: 5px auto;
    padding: 0 25px 0 55px;

    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
    transition: background-color 0.25s ease 0s;
}

.fbutton.facebook.ico {
    background: url("/assets/facebook_button.png") no-repeat scroll 15px center #3B5998;
    padding-left: 50px;
    &:hover {
      color: #FFFFFF;
      background: url("/assets/facebook_button.png") no-repeat scroll 15px center #617DB7;
    }
}

select {
  width: 220px;
  height: 35px;
  font-size: 12px;
}
*/

@import "bootstrap-responsive";
