$linkColor: #6DC5D7; //#3B5998;
$baseBorderRadius:1px;

@import "bootstrap";


/***ESTILOS ALEX******************************************************************************************/
/*********************************************************************************************************/
html, body {
  height: 100%;
}
body{
    min-width:320px;  
}

/*#####################################################*/
/*### BOTON FACEBOOK  ########################*/
/*#####################################################*/
.base-btn-facebook-center{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.base-btn-facebook {
    background: none repeat scroll 0 0 rgba(109, 197, 215, 0.3);
    color: #FFFFFF;
    height: 46px;
    padding: 6px;
    width: 246px;
}
.btn-large{
    border-radius: 1px 1px 1px 1px;
    font-size: 15px;
    padding: 12px 7px;
    font-family:'lucida grande',tahoma,Verdana,Arial,sans-serif;
    width: 228px;
}
.box-image-facebook {
    border-right: 2px solid #C4C4C4;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
    width: 40px;
}
#image-facebook {
    background: url("facebook.png") repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin-left: 6px;
    vertical-align: bottom;
    width: 20px;
}
.btn-fb {
    background: #6280BF;
    background: linear-gradient(to bottom, #6280BF, #3B5998);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active, .btn-fb.active, .btn-fb.disabled, .btn-fb[disabled] {
    background: #3B5998;
    color: white;
}



.accordion {
    border: 6px solid #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 11px;
}

/*#####################################################*/
/*### SHOW ENGAGE PUBLIC PAGE ##########################*/
/*#####################################################*/
.sw-violet{
  color:#50388C;
}
.body, body{
    background: none repeat scroll 0 0 #FFFFFF;
    min-width:320px;
    padding-top: 54px;
}
#show{
    padding: 0 10px 13px;
}
.consulta{
    color: #6EC7D9;
    padding: 13px 0 5px;
    font-weight:normal;
//    font-family:'DominikRegular',Helvetica,'Lucida Grande',Verdana;  
}   
/*.btn-group {
    display: inline-block;
    font-size: 0;
    max-width: 349px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 93%;
}*/

.presentacion {
    display: inline-block;
}
.presentacion > img {
    border: 1px solid #BFBFBF;
    display: inline-block;
    max-width: 55px;
    vertical-align: top;
}
.detalles {
    display: inline-block;
    padding: 3px 7px;
    vertical-align: top;
}
.nombre-foto {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.resultados-de-hoy {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    margin: 10px 0;
    padding: 11px 0;
    text-align: center;
    width: 300px;
}
#btn-ver-resultados {
    border: 1px solid #C8C8C8;
    border-radius: 1px 1px 1px 1px;
    font-weight: bold;
    margin: 17px 0;
    max-width: 349px;
    padding: 8px 0;
    width: 84%;
}
.escudo-engagement {
    margin: 0;
    max-height: 290px;
    max-width: 349px;
    position: relative;
}
.image-engage{
    width: auto !important; /*override the width below*/
    width: 100%;
    height: auto;
    max-width: 349px;
    max-height: 290px;
}
.escudo-engagement > img {

}
.num-engage {
    font-size: 92px;
    left: 19%;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 160px;
}            
.btn-group {
    display: inline-block;
    font-size: 0;
    max-width: 349px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 93%;
}

.word-engage {
    font-size: 22px;
    left: 13%;
    max-width: 213px;
    position: absolute;
    text-align: center;
    top: 65%;
    width: 213px;
}
.name-engage {
    font-size: 33px;
    line-height: 1;
    margin-bottom: 20px;
    margin-right: 15%;
    text-align: center;
}
.comparte-word > p {
    font-weight: bold;
}
#comparten.btn-group {
    display: block;
    font-size: 0;
    margin: 47px 0 8px;
    max-width: 349px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 93%;
}
.comparte-engagement-btn{
    font-weight: bold;
    padding: 5px 0;
    width: 84%;
}
.btn-comparte {
    background: #B4E3EC;
    background: linear-gradient(to bottom, #B4E3EC, #59CADA);
    background-repeat: repeat-x;
    border-color:0;
    border-color: #6CDDED;
    padding: 7px 0;
    width: 100%;
}
.btn-comparte:hover, .btn-comparte:focus, .btn-comparte:active, .btn-comparte.active, .btn-comparte.disabled, .btn-comparte[disabled] {
    background: #6DC5D7;
}
.comparte-icon{
    background: url("sw-sprite.png") no-repeat scroll -57px -284px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.comparte-twitter{
    background: url("sw-sprite.png") no-repeat scroll -144px -33px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.dropdown-menu > li > a:hover .comparte-twitter{
    background: url("sw-sprite.png") no-repeat scroll -56px -34px transparent;
}
.comparte-linkedin{
    background: url("sw-sprite.png") no-repeat scroll -143px -155px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.dropdown-menu > li > a:hover .comparte-linkedin{
   background: url("sw-sprite.png") no-repeat scroll -56px -155px transparent;
}
.comparte-facebook{
    background: url("sw-sprite.png") no-repeat scroll -142px -73px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.dropdown-menu > li > a:hover .comparte-facebook{
    background: url("sw-sprite.png") no-repeat scroll -55px -73px transparent;
}
.comparte-correo{
    background: url("sw-sprite.png") no-repeat scroll -143px -196px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.dropdown-menu > li > a:hover .comparte-correo{
    background: url("sw-sprite.png") no-repeat scroll -56px -196px transparent;
}
.open .comparte-icon {
    background: url("sw-sprite.png") no-repeat scroll -148px -284px transparent;
}
.btn-group.open .btn.dropdown-toggle {
    background: #6DC5D7;
}
.comparte-icon:hover{
    background: url("sw-sprite.png") no-repeat scroll -57px -284px transparent;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
}
.open > .dropdown-menu {
    display: block;
    left: 180px;
    padding:4px;
}
.dropdown-menu li a {
    padding: 2px 10px 2px 2px;
    text-align: left;
}
.space {
    height: 19px;
}
/*boton facebook*/
#conectarConFacebook {
    display: inline-block;
    height: 144px;
    margin: 58px 0 25px;
    text-align: left;
}
.tabla-metricas {
    width: 100%;
}
thead tr th {
    background: none repeat scroll 0 0 #EEEEEE;
    border-right: 1px solid #FFFFFF;
}
.green{color:#009933;}
.red{color:#D70800;}
.grafica-engagement {
    width: 100%;
}
.grafica-header {
    background: #EEEEEE;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
}
.full_width {
    width: 100%;
}
.data_graph {
    background: url("/assets/hummingbirds.gif") no-repeat scroll center center #ffffff;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    display: block;
    min-height: 100px;
    padding: 0;
    margin: 0 0 10px;
    height:auto;
}
.data_table {
    background: url("/assets/hummingbirds.gif") no-repeat scroll center center #ffffff;
    min-height: 0px;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;  
    min-width: 100px;
    padding: 0;
    margin: 0 0 10px;
    height:auto;
    display:block;
}
/*#####################################################*/
/*### APLICATION            ##########################*/
/*####################################################*/

.navbar .btn-navbar{
    background: #EDEDED;
    background-image: linear-gradient(to bottom, #F2F2F2, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: white;
    display: none;
    //float: right;
    margin: 2px 3px 2px 5px;
    padding: 4px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius:3px;
}

#app_content{
    display: block;
    min-height: 600px;;
    width: 100%; 
}

/*snap.js ##############################################*/
.snap-content {
  position: absolute;
  background:#ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  min-height: 100%;
  z-index: 2;
  //overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width:100%;    
}

.snap-drawers {
  background: none repeat scroll 0 0 #302E2F;
  color: #EEEEEE;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  width:100%;
  height:100%;    
}
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 239px;
  //height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}
.snap-drawer-left {
     left: 0;
     z-index: 1;
     padding-top: 54px; 
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;        
     
}
.snap-drawer-right {
    padding: 0 14px;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;    
}
.snap-drawer .nav > li {
    margin: 5px 20px;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
#open-left {
    background: url("open.png") no-repeat scroll center center transparent;
    display: block;
    height: 44px;
    width: 44px;
}
#perfiles{
  color:#85BD66;
}
/*### endSnap.js ###################################################*/




.nav-tabs > li > a {
    background: none repeat scroll 0 0 #E2E1E0;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
     background: none repeat scroll 0 0 #F2F1F0; 
}
.tabbable .nav.nav-tabs {
    margin-bottom: 0;
    margin-top: 6px;
}
.tab-content {
    background: none repeat scroll 0 0 #F2F1F0;
    border-color: #F2F1F0;
    border-radius: 6px 0 6px 6px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin-bottom: 18px;
    min-height: 488px;
    padding: 10px;
    -webkit-border-radius: 6px 0 6px 6px;    
    display:block;
}
.menuapp-collapse li{
    float: none;
    margin: 5px 0;
}


/*btn-blue*/
a.btn-blue {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #58585A;
    font-weight:bold;    
}
a.btn-blue:hover, a.btn-blue:focus, a.btn-blue:active, a.btn-blue.active {
    background: #99D4E0;
    color: #58585A;
    font-weight:bold;
}
a.btn-blue.disabled, a.btn-blue[disabled], a.btn-blue.disabled:hover, a.btn-blue[disabled]:hover{
    background-color: inherit;
    text-decoration: none;  
}
.nav > li > a.btn-blue.disabled:hover, .nav > li > a.btn-blue.disabled:focus, .nav > li > a.btn-blue[disabled]:hover{
    background-color: inherit;
    text-decoration: none;    
}
.nav > li > a.btn-blue:hover, .nav > li > a.btn-blue:focus {
    background-color: #99D4E0;
    text-decoration: none;
}
.nav > li.active > a.btn-blue {
    background: none repeat scroll 0 0 #99D4E0;
    color: #58585A;
    text-decoration: none;
}

.datepicker .table-condensed th, .table-condensed td {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
}
.datepicker td.day:hover { background: #6DC5D7; cursor: pointer; }
.input-append.date.disabled{
  background:#EAEAE9;
  
}
/*btn-profile*/
.btn-profile {
    background: linear-gradient(to bottom, #778991, #778991) repeat-x scroll 0 0 #778991;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
}
.btn-profile:hover, .btn-profile:focus, .btn-profile:active, .btn-profile.active, .btn-profile.disabled, .btn-profile[disabled] {
    background: #778991;
    color: white;
    font-weight:bold;
}
.nav > li > a.btn-profile:hover, .nav > li > a.btn-profile:focus {
    background-color: #4B5D65;
    text-decoration: none;
}

/*btn-preferences*/
.btn-preferences {
    background: #666B83;
    background-image: linear-gradient(to bottom, #666B83, #666B83);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    font-weight:bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-preferences:hover, .btn-preferences:focus, .btn-preferences:active, .btn-preferences.active, .btn-preferences.disabled, .btn-preferences[disabled] {
    background: #666B83;
    color: white;
    font-weight:bold;
}
.nav > li > a.btn-preferences:hover, .nav > li > a.btn-preferences:focus {
    background-color: #434860;
    text-decoration: none;
}


/*#####################################################*/
/*### ENGAGEMENT              ##########################*/
/*####################################################*/
.competitorBox {
    display: inline-block;
}
.engageBox {
    display: inline-block;
}
#pick-from > input,#pick-to > input {
    width: 76px;
}
#pick-from, #pick-to {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
#selec {
    display: inline-block;
}
#selec .btn {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.select-day {
    width: 278px;
}
#selec .select-day input[type=radio]{
    display:none;
}
#selec .select-day input[type=radio] + label {
    display:inline-block;
    padding: 0 0 0 0px;
}
#selec .select-day input[type=radio]:checked + label {
    display:inline-block;
    padding: 0 0 0 0px;
}
.select-comp{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 128px;
}
.select-comp .dropdown-menu {
    height: auto;
    left: 0;
    padding: 2px 4px;
}
.image-competitor-selec{
    border: 1px solid #999999;
    box-shadow: 0 1px 3px 0 #6C6C6C;
    display: inline-block;
    height: 32px;
    margin: 2px;
    overflow: hidden;
    width: 32px;
    vertical-align: top;
    float: left;
}
.img-comp{
    height: 32px;
    position: relative;
    width: 32px; 
    z-index: -1;    
}
.dropdown-menu{
    min-width:0;
}

/*CHECKED*/
.image-competitor-selec input[type=checkbox] {
  display:none;
}
.image-competitor-selec input[type=checkbox] + label{
    //background: #999;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.image-competitor-selec input[type=checkbox]:checked + label{
    background: url('checked.png') 0 0px no-repeat;
    height: 32px;
    width: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.engageBox { 
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 35px;
  position: relative;
}
.engageMedal {
    position:absolute;
    top:10px;
    left:14px;
    width: 30px;
    height: 25px;
    margin: 20px; 
    padding-top: 5px; 
    text-align: center;
    border: 1px solid #0088CC; 
    background: #0088CC;
    -moz-border-radius: 15px 15px 35px 35px;
    -webkit-border-radius: 15px 15px 25px 25px;
    border-radius: 15px 15px 35px 35px;
    -moz-box-shadow: rgb(150,150,150) 2px 2px 2px;
    -webkit-box-shadow: rgb(150,150,150) 2px 2px 2px;
    box-shadow: rgb(150,150,150) 2px 2px 2px;  
}
#engageNumber {
     /* font: bold 16px verdana, sans-serif; */
    /*  text-shadow: rgba(0,0,0,0.5) 1px 1px 1px; */
    color: white;
}
.golden {
    border: 1px solid #FFD700; 
    background: #FFD700;
    background: radial-gradient(contain circle, #FFD700, #006699);
    background:  -moz-radial-gradient(center, ellipse, #FFD700 10%, #006699 200%);
    background:  -webkit-radial-gradient(center, ellipse, #FFD700 10%, #006699 200%);
    -moz-box-shadow: rgb(240,210,20) 0px 0px 10px;
    -webkit-box-shadow: rgb(240,210,20) 0px 0px 10px;
    box-shadow: rgb(240,210,20) 0px 0px 10px;  
}
.silver {
    border: 1px solid #C0C0C0;
    background: #C0C0C0;
    background: radial-gradient(contain circle, #C0C0C0, #006699);
    background:  -moz-radial-gradient(center, ellipse, #C0C0C0 10%, #006699 200%);
    background:  -webkit-radial-gradient(center, ellipse, #C0C0C0 10%, #006699 200%);
    -moz-box-shadow: rgb(150,150,150) 2px 2px 2px;
    -webkit-box-shadow: rgb(150,150,150) 2px 2px 2px;
    box-shadow: rgb(150,150,150) 2px 2px 2px;  
}
.bronze {
    border: 1px solid #D2B48C;
    background: #D2B48C;
    background: radial-gradient(contain circle, #D2B48C, #006699);
    background:  -moz-radial-gradient(center, ellipse, #D2B48C 10%, #006699 300%);
    background:  -webkit-radial-gradient(center, ellipse, #D2B48C 10%, #006699 300%);
}

    
/*#####################################################*/
/*### DASHBOARD #######################################*/
/*#####################################################*/
#pasts > li {
    display: inline-block;
}
.past{
    height: 200px;
    width: 200px;
}
.past-percent {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5em;
}
.past-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 19px;
}
.past-green {
    background-color: #85bd66;
    background: linear-gradient(to bottom, #85bd66, #5fad2e);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.past-green:hover, .past-green:focus, .past-green:active, .past-green.active, .past-green.disabled, .past-green[disabled] {
    background-color: #5fad2e;
    color: white;
}
.past-orange {
    background-color: #f5af4c;
    background: linear-gradient(to bottom, #f5af4c, #f2921b);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.past-orange:hover, .past-orange:focus, .past-orange:active, .past-orange.active, .past-orange.disabled, .past-orange[disabled] {
    background-color:  #f2921b;
    color: white;
}

/*#####################################################*/
/*### PREFERENCIAS - LISTAS - PERFILES ################*/
/*#####################################################*/
.paginas{
    background: none repeat scroll 0 0 #E2E1E0;
    color: #58585A;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin: 0 0 18px;
    padding: 5px 5px 5px 13px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.list-competitors{
  
}
.list-competitor{
    display: block;
    width: 320px;
}
.image-competitor{
    display:inline-block;
    vertical-align:top;  
}
.fb_stat.pull-right > input[type=radio]{
  display:none;
}

.fb_stat.pull-right {
    margin-right: 19px;
}
.fb_stat.pull-right > input[type=radio] + label {
    background: none repeat scroll 0 0 #000000;
    background: url("sw-sprite2.png") no-repeat scroll -176px -166px transparent; 
    width:30px;
    height:30px;
    display:inline-block; 
    vertical-align:top; 
    margin-top: 9px; 
}
.fb_stat.pull-right > input[type=radio]:checked + label {
    background: none repeat scroll 0 0 #000000;
    background: url("sw-sprite2.png") no-repeat scroll -174px -203px transparent;
    width:30px;
    height:30px;
    display:inline-block;
    vertical-align:top;  
    margin-top: 9px;
}
.starOn{
  background: url("sw-sprite2.png") no-repeat scroll -174px -203px transparent;
  width:30px;
  height:30px;
  display:inline-block;
  vertical-align:top;
}
.starOff{
  background: url("sw-sprite2.png") no-repeat scroll -176px -166px transparent; 
  width:30px;
  height:30px;
  display:inline-block; 
  vertical-align:top;
}
.unstyled.fb_pages > li {
    margin: 6px 0;
}
.fb_stat {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
}
.fb_stat-name {
    min-width: 177px;
}
.fb_stat-edit {
    background: none repeat scroll 0 0 #E2E1E0;
    height: 45px;
    padding: 2px 13px;
    width: 34px;
}
.fb_stat-text{
  margin-top: 10px;
}
/*#edit_facebook_list_8 input {
    border: 9px solid #DAD9D8;
    width: 91%;
}*/
input#facebook_list_name  {
    border: 9px solid #DAD9D8;
    width: 91%;
}
#editar {
    background: url("sw-sprite2.png") no-repeat scroll -176px -117px transparent;
    display: inline-block;
    height: 30px;
    margin-top: 6px;
    vertical-align: top;
    width: 30px;
}
#new-perfil {
    background: url("sw-sprite2.png") no-repeat scroll -258px -120px transparent;
    display: inline-block;
    height: 30px;
    margin-top: 4px;
    vertical-align: middle;
    width: 30px;
}
#volver{
    background: url("sw-sprite2.png") no-repeat scroll -217px -120px transparent;
    display: inline-block;
    height: 30px;
    margin-top: 4px;
    vertical-align: middle;
    width: 30px; 
}
@import "bootstrap-responsive";

/* Large desktop */
@media (min-width: 1200px) {
  .no-space {
      margin-left:0;
  }    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .no-space {
      margin-left:0;
  }  
  .simple-search {
    padding: 6px 32px 6px 7px;
    width:280px;
  }   
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .no-space {
      margin-left:0;
  }    
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
  #lazo{display:none;}
  .navbar-fixed-top {top: 0px;}
  #home {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  .escudo-engagement {
      margin: 0 auto;
      max-height: 290px;
      max-width: 349px;
      position: relative;
  }
  .word-engage {
      font-size: 22px;
      left: 11%;
      max-width: 213px;
      position: absolute;
      text-align: center;
      top: 65%;
      width: 213px;
  }
  .num-engage {
    font-size: 92px;
    left: 18%;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 160px;
  }
  .simple-search {
    padding: 6px 32px 6px 7px;
    width:280px;
  } 
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-fixed-top {
      top: 0px;
  } 
  input.simple-search {
    padding: 6px 32px 6px 7px;
  } 
}
