@import "bootstrap";
@import "bootstrap-responsive";


/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$azulSocialWin: #76d4e5; 
$facebookcolor: #3B5998; 

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


@mixin recuadrogris {
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


/* universal */

html {
  overflow-y: scroll;
}

body {

  background:url(body-tail.gif) 0 0 repeat-x #fff;
  position:relative;


  padding-top: 60px;
  font-size: 13px;
  line-height: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blue;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $azulSocialWin;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 85px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  

  small { 
    float: left; 
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */
// se usa en users/show.html.erb
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    p { clear:both;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.user-session {
  display: inline-block;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

  
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
} 

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* buttons */

.btn-large{
  font-size: 15px;
} 

.signinmenu li a{ 
    margin-left: 15px;
    margin-right: 15px;
    color: white;

}


/* facebook pages */

 
#facepageloop {
  //float: right;
  margin: 10px 0 10px 0px;
  width: 100%;
  
  a {
    display:block;
    border: 1px solid $grayMediumLight;
    padding: 10px;
    text-decoration:none;
    color: $facebookcolor; 
    &:hover {
      border: 1px solid #AAC1D4;
      background-color: aliceblue;
    }
  }

  .logofacebookpage {
    font-size:14px;
    color: #36c;
    margin-bottom: 5px;
    
    img {
      margin-right:20px; 
    }
  }
  
  h2 {
    letter-spacing: 0px;
  }
  
}

/* pages index */

.fb_pages {
  list-style: none;
  margin: 0;
  color: $facebookcolor; 

  li {
    overflow: auto;

    padding: 10px 10px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    &:hover {
      background-color: aliceblue;
    }
  }
}


.fb_stats {
  overflow: auto;

  .fb_stat {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
  }

  strong {
    display: block;
  }
}

.imgpage {
  float: left;
  margin-right: 10px;
}

.mini_page_dashboard {
  float: right;
  overflow: hidden;
}


.menumetricas {
  padding-top: 60px;
}


.data_graph {
  padding: 15px;
  margin: 0 0 10px 0px;
  background:transparent url(/assets/loader.gif) center no-repeat;
  min-height: 100px;
  @include recuadrogris;
}

.data_table {
  padding: 15px;
  margin: 0 0 10px 0px;
  background:transparent url(/assets/loader.gif) center no-repeat;
  min-height: 160px;
  @include recuadrogris;
}
