$linkColor: #6DC5D7;
$baseBorderRadius:1px;
$btnInfoBackground: #2D255E;
$btnInfoBackgroundHighlight: #2D255E;

html, body {
  height: 100%;
}
body{
    min-width:320px;  
}
@font-face {
    font-family: 'DominikRegular';
    src: font-url('dominik.eot');
    src: font-url('dominik.eot') format('embedded-opentype'),
         font-url('dominik.woff') format('woff'),
         font-url('dominik.ttf') format('truetype'),
         font-url('dominik.svg#DominikRegular') format('svg');
    font-weight: normal;     
}
a {
    color: #333333;
    text-decoration: none;
}
a:active, a:focus {
    outline:none;
}
/*header*/
.navbar .brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: 0px;
    padding: 6px 3px;
    text-shadow: 0 1px 0 white;
}
.navbar-inner{
    background: #ffffff;  
}
.navbar .nav > li > a {
    font-size: 13px;
    padding: 13px 15px 7px;
}   
.navbar .nav {
    margin-top: 13px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(109, 197, 215, 0.3);
    color: #555555;
} 
.dropdown-menu > form {
    margin: 0;
}

.navbar .nav > li#config > a {
    font-size: 13px;
    padding: 12px 15px 7px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: #D3EDF3;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}
.gravatar {
    height: 20px;
    width: 20px;
}
.user-session{
  text-transform:uppercase;
}
/*.dropdown-toggle{
  background:#fff;
}
*/
.dropdown-menu, .open{
    background: #D3EDF3;
    box-shadow:0 3px 8px rgba(0, 0, 0, 0.125) inset;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #D3EDF3;
}
/*navbar-fixed-top#########*/
/*#########################*/
.navbar-fixed-top {
    margin-bottom: 0;
}

/*social buttons*/
.social-buttons > div{
    display:inline-block;
}

/*#####################################################*/
/*footer###############################################*/
/*#####################################################*/
#base-footer{
    background: none repeat scroll 0 0 #2D255E;
    color: #FFFFFF;
    font-family: 'DominikRegular', Arial, 'Verdana';
    font-weight: normal;
    padding: 16px 10px 0;
    min-height: 286px;
}

#base-footer ul {
    padding-bottom: 20px;
}
#base-footer li{
  line-height: 25px;
}
#base-footer a{
     color: #FFFFFF;
}
#tw-window {
    height: 274px;
    padding: 0;
}
h4{
      font-weight: normal; 
}
/*clientes*/
.clientes ul#clientes {
    border-top: 1px solid #686868;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 14px;
}
.clientes h3{
  color:#686868;
}
.clientes li {
    display: inline-block;
}
.imag-clients {
    background: #666666;
    height: 55px;
    margin-top: 10px;
    width: 126px;
}
.imag-clients img{
  width:100%;
}
#aol{
    background: url("clientes/sprite11.png") repeat scroll -184px 0 transparent;
    height: 53px;
    width: 160px;
}
#aol:hover{
    background: url("clientes/sprite11.png") repeat scroll -184px -66px transparent;
}
#gaes{
    background: url("clientes/sprite11.png") repeat scroll -619px -11px transparent;
    height: 55px;
    width: 96px;
}
#gaes:hover{
    background: url("clientes/sprite11.png") repeat scroll -619px -80px transparent;
    height: 55px;
    width: 96px;
}
#barcelona{
    background: url("clientes/sprite11.png") repeat scroll -204px -156px transparent;
    width: 106px;
}
#barcelona:hover{
    background: url("clientes/sprite11.png") repeat scroll -204px -214px transparent;
    width: 106px;
}
#catalunya{
    background: url("clientes/sprite11.png") repeat scroll -363px -7px transparent;
    height: 59px;
    width: 134px;
}
#catalunya:hover{
    background: url("clientes/sprite11.png") repeat scroll -363px -88px transparent;
    height: 59px;
    width: 134px;
}
#american{
    background: url("clientes/sprite11.png") repeat scroll -1px 1px transparent;
    width: 162px;
}
#american:hover{
    background: url("clientes/sprite11.png") repeat scroll -1px -52px transparent;
    width: 162px;
}
#seat{
    background: url("clientes/sprite11.png") repeat scroll -722px -10px transparent;
    width: 72px;
}
#seat:hover{
    background: url("clientes/sprite11.png") repeat scroll -723px -78px transparent;
    width: 72px;
}
#watx{
    background: url("clientes/clients-sprite.png") repeat scroll -70px -252px transparent;
    width: 145px;
}
#watx:hover{
    background: url("clientes/clients-sprite.png") repeat scroll -70px -306px transparent;
    width: 145px;
}
#grupo{
    background: url("clientes/sprite11.png") repeat scroll -510px -8px transparent;
    width: 86px;
}
#grupo:hover{
    background: url("clientes/sprite11.png") repeat scroll -510px -88px transparent;
    width: 86px;
}
#telepolis{
    background: url("clientes/sprite11.png") repeat scroll -8px -147px transparent;
    width: 177px;
}
#telepolis:hover{
    background: url("clientes/sprite11.png") repeat scroll -8px -215px transparent;
    width: 177px;
}

/*legal*/
#legal{
    padding-bottom: 40px;
}
.logo-legal{
    padding: 12px 4px 3px;
}
#legal ul {
    margin-top: 35px;
}

/*###############################################*/
/*########### search-box#########################*/
/*###############################################*/
.form-case {
    height: 54px;
    margin: 0 auto;
    width: 85%;
}
#div-search-box{
    display: block;
    height: 135px;
    margin: 58px auto 37px;
    width: 526px;
}
.navbar-search em.icon-search {
    cursor: pointer;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 8px;
}
.navbar-search .search-query {
    padding: 4px 4px 4px 26px;
}
.search {
    background: #665098;
    display: inline;
    padding: 7px 5px;
}
.navbar-search {
    float: none;
    margin-bottom: 0;
    margin-top: 5px;
    position: relative;
}

/*#####################################################*/
/*### BOTON BUSCAR SOCIALWIN ##########################*/
/*#####################################################*/

#search{
    border: 2px solid #6EC7D9;
    font-size: 16px;
    height: 25px;
    width: 96%;
    font-family:'DominikRegular',Helvetica,'Lucida Grande',Verdana;
}
.simple-search {
    padding: 6px 32px 6px 7px;
    width:280px;
    cursor:pointer;
    border:1px solid #6EC7D9;
}
.navbar-search button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 7px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.simple-search:focus + button {
    z-index: 3;
}
.navbar-search .btn:hover, .navbar-search .btn:focus, .navbar-search .btn:active, .navbar-search .btn.active, .navbar-search .btn.disabled, .navbar-search .btn[disabled] {
    background-color: #ffffff;
}


#top-search{
    background: none repeat scroll 0 0 #6EC7D9;
    padding: 57px 10px 72px;
    -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.5); 
}
/*#top-search2{
    -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.5); 
}*/
#top-search h4 {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 13px;
    padding: 0 42px;
}
#top-search h3 {
    font-family: 'DominikRegular',Helvetica,'Lucida Grande',Verdana;
    font-size: 40px;
    font-weight: normal;
}
.navbar-search .search-query {
    font-size: 16px;
    padding: 4px 4px 4px 26px;
}
.btn-violet {
    background: #665098;
    background-image: linear-gradient(to bottom, #665098, #2D255E);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-violet:hover, .btn-violet:focus, .btn-violet:active, .btn-violet.active, .btn-violet.disabled, .btn-violet[disabled] {
    background: #38226A;
    color: white;
}


/*#####################################################*/
/*### BOTON COLAPSED ##################################*/
/*#####################################################*/
#menu-word {
    color: #767676;
    margin-right: 16px;
}