/* universal */

html {
  overflow-y: scroll;
}

body {

  background:url(body-tail.gif) 0 0 repeat-x #fff;
  position:relative;

  font-size: 13px;
  line-height: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



/*footer*/
#base-footer{
    background: none repeat scroll 0 0 #2D255E;
    color: #FFFFFF;
    font-family: 'DominikRegular', Arial, 'Verdana';
    font-weight: normal;
    padding: 68px 10px 0;
}
#base-footer a{
     color: #FFFFFF;
}

.navbar-search em.icon-search {
    cursor: pointer;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 8px;
}
.navbar-search .search-query {
    padding: 4px 4px 4px 26px;
}

