
/*header*/
.navbar .brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: 0px;
    padding: 6px 3px;
    text-shadow: 0 1px 0 white;
}
.navbar-inner{
    background: #ffffff;  
}
.navbar .nav > li > a {
    font-size: 13px;
    padding: 13px 15px 7px;
}   
.navbar .nav {
    margin-top: 13px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(109, 197, 215, 0.3);
    color: #555555;
} 
.dropdown-menu{
    background: #D3EDF3;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #D3EDF3;
}
/*social buttons*/
.social-buttons > div{
    display:inline-block;
}

/*footer*/
#base-footer{
    background: none repeat scroll 0 0 #2D255E;
    color: #FFFFFF;
    font-family: 'DominikRegular', Arial, 'Verdana';
    font-weight: normal;
    padding: 16px 10px 0;
}
#base-footer li{
  line-height: 25px;
}
#base-footer a{
     color: #FFFFFF;
}
#tw-window{

}
/*clientes*/
.clientes ul#clientes {
    border-top: 1px solid #B6B6B6;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 14px;
}
.clientes li {
    display: inline-block;
}
.imag-clients {
    background-color: #666666;
    height: 55px;
    margin-top: 10px;
    width: 126px;
}
.imag-clients img{
  width:100%;
}


/*legal*/
#legal{
    padding-bottom: 12px;
}
.logo-legal{
  padding:4px 4px;
}
#legal ul {
    margin-top: 27px;
}



/*search button*/
.navbar-search em.icon-search {
    cursor: pointer;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 8px;
}
.navbar-search .search-query {
    padding: 4px 4px 4px 26px;
}




