$linkColor: #6DC5D7;
$baseBorderRadius:1px;
$btnInfoBackground: #2D255E;
$btnInfoBackgroundHighlight: #2D255E;

@import "bootstrap";

html, body {
  height: 100%;
}
body{
    min-width:320px;  
    padding-top: 54px;  
    font-family: 'DominikRegular', Helvetica,'Lucida Grande', Verdana;  
    color:#999999;        
}
.sw-blue{
  color: #6EC7D9;
}
.sw-violet{
  color:#50388C;
}
.sw-green{
  color: #5FAD2E;
}
.sw-white{
  color:#ffffff;
}
html, body {
  height: 100%;
}
ul{
  list-style:none;
  padding:0;
  margin:0;
 } 
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
p{
    font-size: 1.06em;
    line-height: 1.4;
    margin: 0 0 13px;
}
hr, .hr{
    margin: -13px 0 23px;
}
#lazo{
  position:absolute;
  top:0;
  right:0;
}
#home {
    //background: url("slide-04.jpg") no-repeat scroll 0 0 / 100% 100% #000000; //  home-back-unfoc
     padding: 55px 10px 0;
    
     background-color: #000000;
     background-image: url('slide-04.jpg');
     background-repeat: no-repeat;
     background-position: center top;
     overflow: auto;
}
#slogan1 {
    color: #6EC7D9;
    font-family: 'DominikRegular',Helvetica,'Lucida Grande',Verdana;
    font-size: 40px;
    font-weight: normal;
}
#slogan2 {
    color: #EBEBEB;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 0;
}
#slogan3 {
    color: #EBEBEB;
    font-family: 'DominikRegular',Helvetica,'Lucida Grande',Verdana;
    font-size: 17px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
#monitorizando{
    color: #EBEBEB;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

/*#####################################################*/
/*### BOTON FACEBOOK SOCIALWIN ########################*/
/*#####################################################*/
.base-btn-facebook-center{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.base-btn-facebook {
    background: none repeat scroll 0 0 rgba(109, 197, 215, 0.3);
    color: #FFFFFF;
    height: 46px;
    padding: 6px;
    width: 246px;
}
.btn-large{
    border-radius: 1px 1px 1px 1px;
    font-size: 15px;
    padding: 12px 7px;
    font-family:'lucida grande',tahoma,Verdana,Arial,sans-serif;
    width: 228px;
}
.box-image-facebook {
    border-right: 2px solid #C4C4C4;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
    width: 40px;
}
#image-facebook {
    background: url("facebook.png") repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin-left: 6px;
    vertical-align: bottom;
    width: 20px;
}
.btn-fb {
    background: #6280BF;
    background-image: linear-gradient(to bottom, #6280BF, #3B5998);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active, .btn-fb.active, .btn-fb.disabled, .btn-fb[disabled] {
    background: #3B5998;
    color: white;
}

.screen{
    margin: 31px auto 0;
    max-height: 240px;
    max-width: 601px;
    overflow: hidden;
    padding: 0 15px;
}
#screen{
    width: 100%;    
}
#descubre{
    color: #6EC7D9;
    font-family: 'DominikRegular', Helvetica,'Lucida Grande', Verdana;  
}

/*video*/
#video{  
    padding: 8px 10px;
}
.video{
    margin: 4px auto;
    max-width: 500px;
}

/*responsive video flex*/
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*top-search podium */
.list-engagement li {
    display: inline-block;
    line-height: 20px;
    margin: 0 24px;
    max-height: 187px;
    max-width: 125px;
    overflow: hidden;
    vertical-align: top;
    -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);    
} 
.list-engagement li img{
    max-width:100px;
    max-height:100px;
}
.podium{
    background: #E8E9EB;
    color: #666666;
    font-weight: bold;

}
.flecha-up{
    background: url("Buscador_SW_72dpi_0009_flechas.png") no-repeat scroll 1px 2px transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.flecha-down{
    background: url("Buscador_SW_72dpi_0009_flechas.png") no-repeat scroll 1px -29px transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.puntuacion {
    display: inline-block;
    font-size: 22px;
    padding-top: 11px;
    vertical-align: top;
    width: 65px;
}

.try-search{
    margin: 0 auto;
    max-width: 500px;
}

/*boton facebook*/
#fb_search{
    margin: 10px 0 42px;
}
#fb_img {
    -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);    
} 
#fb_search ul{
  list-style:none;
  padding:0;
  margin:0;
}
#fb_search li{
    display: block;
    height: 50px;
    margin: 8px 0;
    max-width: 374px;
    min-width: 47%;
    vertical-align: top;
}
.name {
    display: inline-block;
    line-height: 12px;
    padding: 4px 4px 4px 10px;
    vertical-align: middle;
    width: 63%;
}
.name p{
      word-wrap: break-word; 
}
.spinner{
  margin:0 auto;
  margin-left:160px;
  margin-top:50px;
}

/*metodo*/
#metodo{
    background: none repeat scroll 0 0 #E8E9EB;
    color: #999999;
    padding: 35px 10px 48px;
}

#metodo h3 {
    color: #999999;
}
#metodo a:hover {
    color: #999999;
    text-decoration:none;
    
}
.container.planes h3 {
    color: #999999;
}
.img-metodo{
    display: block;
    margin: 0 auto 17px;
    max-height: 146px;
}


/*target*/
#a_quien{
    color: #999999;
    padding: 44px 10px 0;
}
.quienes{
    color:#5FAD2E;
    padding: 24px 0;    
}
#marketers{
    background: url("dirigido1.png") no-repeat scroll 134px 0 / 68px auto transparent;
    height: 19px;
}
#community{
    background: url("dirigido2.png") no-repeat scroll 136px 0 / 68px auto transparent;
    height: 19px;
}
#social{
    background: url("dirigido3.png") no-repeat scroll 138px 0 / 68px auto transparent;
    height: 19px;
}

/* informes */
#informes_sectoriales{
    color: #999999;
    padding: 72px 0 0;
}
.base-informes{
  background: url("base-informes2.jpg") no-repeat scroll 0 -236px #5F4B8E;
}
.transparencia {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    height: 400px;
    padding: 6px 5px;
}
#info1{
    color: #FFFFFF;
    padding-top: 12px;
}
#info2{
    color: #50388C;
    font-weight: bold;
    padding: 14px 20px 0;
}    
#info3{
    color: #50388C;
    font-weight: bold;
    padding: 0 20px; 
}
#info4{
    color: #50388C;
    font-size: 15px;
    text-decoration: underline;
}


/*partners*/
#partners{
    color: #999999;
    padding: 62px 0;
}
#partners li{
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 13px 21px 10px;
    min-height: 65px;
    min-width: 245px;
    opacity: 0.7;
    vertical-align: top;
} 
#partners li:hover{
    -webkit-box-shadow:1px 2px 3px #B2B2B2;
    box-shadow: 1px 2px 3px #B2B2B2;
    opacity: 1;
    transition: box-shadow 300ms ease-out 0s;
    transition: opacity 300ms ease-out 0s;
}
.image-partner{
  background:#000;
  height: 50px;
  margin:0 auto;
}
#seedrocket{
   background: url("partners/seedRocket-color.png") no-repeat scroll 0 0 transparent;
    width: 228px;
}
#bertelsmann{
    background: url("partners/2.bertelsmann.jpg") no-repeat scroll 0 10px transparent;
    width: 201px;
}
#iebs{
    background: url("partners/3.iebs.jpg") no-repeat scroll 0 0 transparent;
    margin-top: 12px;
    width: 184px;
}    
#gigas{
    background: url("partners/4.gigas.jpg") no-repeat scroll 0 0 transparent;
    margin-top: 4px;
    width: 121px;
}


#metricson{
    background: url("partners/5.metricson.jpg") no-repeat scroll 0 0 transparent;
    padding-bottom: 10px;
    width: 206px;
}
#lasalle{
    background: url("partners/lasalle-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 3px;
    width: 149px;
}
#digitalweek{
    background: url("partners/digitalweek-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 2px;
    width: 120px;
}
#busco{
    background: url("partners/buscoseo-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 4px;
    width: 104px;
}


#global{
    background: url("partners/global-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 7px;
    width: 103px;
}
#socialday{
    background: url("partners/10.Mashable.jpg") no-repeat scroll 11px 0px / 91px 88px transparent;
    height: 87px;
    margin-top: 3px;
    width: 115px;
}
#congres{
    background: url("partners/w-congress-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 8px;
    width: 46px;
}
#school{
    background: url("partners/w_school-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 8px;
    width: 45px;
}



/*######################################################################*/
/*### search-page ######################################################*/
/*######################################################################*/
#search-page{
    padding: 0 10px 76px;
}
#consulta{
    color: #6EC7D9;
    padding: 13px 0 5px;
}
.arrow {
    background: url("arrows-engagement.png") repeat scroll -64px -5px transparent;
    display: inline;
    float: right;
    height: 46px;
    margin-top: 0;
    width: 45px;
}
.arrow:hover{
    background: url("arrows-engagement.png") repeat scroll -130px -5px transparent; 
}
#quieres{
    margin: 48px 0 5px;
    max-width: 327px;
}
#conectarConFacebook{
    margin-bottom: 50px;
    margin-top: 56px;
}


/*######################################################################*/
/*### search-engagement-page ############################################*/
/*######################################################################*/
#search-engagement-page {
    padding: 17px 10px 85px;
}
.podium-case {
    margin: 32px 0 10px;
}


/*######################################################################*/
/*### sobre socialwin ############################################*/
/*######################################################################*/
#cita{
    background: none repeat scroll 0 0 #E8E9EB;
    padding: 68px 10px 36px;
}
.cita-case{
    color: #3F3F3F;
    margin: 0 auto;
    max-width: 830px;    
}
#cita-thomas{
    font-size: 18px;
    line-height: 23px;
    margin: 0 auto;
}

#cita-thomas-sign{
    color: #3F3F3F;
    font-family: Helvetica;
    margin: 7px auto 0;
    max-width: 830px;
    font-size:15px;
}
#firma{
    background: url("nosotros/firma_thomas.png") no-repeat scroll -3px -27px transparent;
    height: 130px;
    margin: 7px 0;
    width: 225px;
}
#informe-social-media {
    padding: 20px 10px 30px;
}

#informe-social-media .container.text-center > p {
    margin: 0 0 51px;
}
.descargar-informe{
      border-color: #EDEDED;
    color: #999999;
    font-weight: bold;
    font-family:Helvetica;
}
#informe-social-media .span6 p {
    padding: 4px 97px 13px;
}

#smd {
    background: none repeat scroll 0 0 #000000;
    height: 300px;
}
/*blog*/
#blog {
    padding: 23px 10px 43px;
}
.post{}
.titulo-post {
    background-color: #EDEEE5;
    color: #4D4D4D;
    font-family: Helvetica;
    font-weight: bold;
    margin: 5px 0 17px;
    padding: 15px 30px;
}
.content-post{}
#equipo{
    background: none repeat scroll 0 0 #E8E9EB;
    padding: 23px 10px 43px; 
}
#colaboradores > li {
    display: inline-block;
    margin: 0 0 34px;
    vertical-align: top;
    width: 352px;
}
.col-imagen {
    display: inline-block;
    height: 158px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 113px;

}
.col-imagen img{
    height: 158px;
    width: 113px;
}
.col-imagen img:hover{

}
.col-info {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    width: 177px;
}
.col-nombre {
    color: #595959;
    font-family: Helvetica,Arial;
    font-weight: bold;
    margin: 0 0 7px;
}
.col-rol {
    color: #5A5A5A;
    font-family: Helvetica,Arial;    
    font-size: 14px;
    font-style: italic;
    margin: 0 0 6px;
}
.col-descripcion {
    color: #535353;
    font-family: Helvetica;
    font-size: 12px;
}
.leer-mas {
    margin: 10px 0 5px;
    color:#999999;
}
.ver-todo-blog {
    font-family: 'DominikRegular',Helvetica,'Lucida Grande',Verdana;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
}
hr.hr-nosotros {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px 0 #B6B6B6;
    height: 2px;
}





@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
  .navbar-fixed-top {top: 0px;}
}



@import "bootstrap-responsive";

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
  #lazo{display:none;}
  .navbar-fixed-top {top: 0px;}
  #home {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .word-engage {
    font-size: 18px;
    left: 18%;
    position: absolute;
    top: 65%;
}
}


.navbar-fixed-top {
    top: 0px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

}