// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$linkColor: #3B5998;
$baseBorderRadius:1px;
$btnInfoBackground: #2D255E;
$btnInfoBackgroundHighlight: #2D255E;
$btnDangerBackground: #2D255E; /*para boton busqueda*/
$btnDangerBackgroundHighlight:#2D255E;

@import "bootstrap";
html, body {height: 100%;}
@font-face {
    font-family: 'DominikRegular';
    src: font-url('dominik.eot');
    src: font-url('dominik.eot') format('embedded-opentype'),
         font-url('dominik.woff') format('woff'),
         font-url('dominik.ttf') format('truetype'),
         font-url('dominik.svg#DominikRegular') format('svg');
    font-weight: normal;     
}
.sw-blue{
  color: #6EC7D9;
}
.sw-violet{
  color:#50388C;
}
.sw-green{
  color: #5FAD2E;
}
body { 
  font-family: 'DominikRegular', Helvetica,'Lucida Grande', Verdana;  
  padding-top: 51px;
  color:#999999;  
  min-width:320px;
}
ul{
  list-style:none;
  padding:0;
  margin:0;
 } 
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
p{
    font-size: 1.06em;
    line-height: 1.4;
    margin: 0 0 13px;
}
hr, .hr{
    margin: -13px 0 23px;
}
#lazo{
  position:absolute;
  top:0;
  right:0;
}
#home {
    background: url("home-back-unfoc.jpg"); //  slide-01.jpg
    background-color:#000000;
    background-position: relative;
    background-repeat:none;
    padding: 55px 10px 0;
}
#slogan1 {
    color: #6EC7D9;
    font-family: 'DominikRegular', Helvetica,'Lucida Grande', Verdana;
    font-weight: normal;
    font-size: 38px;
}
#slogan2 {
    color: #EBEBEB;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
#monitorizando{
    color: #EBEBEB;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px; 
}

/*boton facebook*/
.base-btn-facebook {
    background: none repeat scroll 0 0 rgba(109, 197, 215, 0.3);
    height: 46px;
    margin: 0 auto;
    padding: 6px;
    width: 246px;
    color:#ffffff;
}
.btn-large{
    border-radius: 1px 1px 1px 1px;
    font-size: 15px;
    padding: 12px 7px;
    font-family:'lucida grande',tahoma,Verdana,Arial,sans-serif;
    width: 228px;
}
.box-image-facebook {
    border-right: 2px solid #C4C4C4;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
    width: 40px;
}
#image-facebook {
    background: url("facebook.png") repeat scroll 0 0 transparent;
    float: left;
    height: 20px;
    margin-left: 6px;
    vertical-align: bottom;
    width: 20px;
}
.screen{
    margin: 31px auto 0;
    max-height: 240px;
    max-width: 601px;
    overflow: hidden;
    padding: 0 15px;
}
#screen{
    width: 100%;    
}
#descubre{
    color: #6EC7D9;
    font-family: 'DominikRegular', Helvetica,'Lucida Grande', Verdana;  
}

/*video*/
#video{  
    padding: 54px 10px 30px;
}
.video{
    margin: 20px auto;
    max-width: 500px;
}

/*responsive video flex*/
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*top-search podium */
.list-engagement li {
    display: inline-block;
    line-height: 20px;
    margin: 0 24px;
    -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);    
} 
.podium{
    background-color: #E8E9EB;
    color: #666666;
    font-weight: bold;

}
.flecha-up{
    background: url("Buscador_SW_72dpi_0009_flechas.png") no-repeat scroll 1px 2px transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.flecha-down{
    background: url("Buscador_SW_72dpi_0009_flechas.png") no-repeat scroll 1px -29px transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.puntuacion {
    display: inline-block;
    font-size: 22px;
    padding-top: 11px;
    vertical-align: top;
    width: 65px;
}

/*top search searcher*/
#top-search{
    padding: 20px 10px 60px;
}
em#lent{
    left: 12px;
    position: absolute;
    top: 14px;
}
.search {
    background-color: #665098;
    display: inline;
    padding: 7px 10px 7px 7px;
}
.navbar-search .search-query {
    font-size: 16px;
    padding: 4px 4px 4px 26px;
}
.input-xlarge {
    width: 307px;
}
.btn-sw-search{
    margin-left: 6px;
    width: 100px;
}

/*boton facebook*/
#fb_search{
  margin: 10px 0;
}
#fb_img {
    -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.2);    
} 
#fb_search ul{
  list-style:none;
  padding:0;
  margin:0;
}
#fb_search li{
    display: block;
    height: 50px;
    margin: 8px 0;
    max-width: 374px;
    min-width: 47%;
    vertical-align: top;
}
.name {
    display: inline-block;
    line-height: 12px;
    padding: 4px 4px 4px 10px;
    vertical-align: middle;
    width: 63%;
}
.name p{
      word-wrap: break-word; 
}
.spinner{
  margin:0 auto;
  margin-left:160px;
  margin-top:50px;
}

/*metodo*/
#metodo{
    background: none repeat scroll 0 0 #E8E9EB;
    color: #999999;
    padding: 35px 10px 48px;
}
.img-metodo{
    display: block;
    margin: 0 auto 17px;
    max-height: 145px;
}


/*target*/
#a_quien{
    color: #999999;
    padding: 50px 10px 0;
}
.quienes{
    color:#5FAD2E;
    padding: 24px 0;    
}
#marketers{
    background: url("dirigido1.png") no-repeat scroll 134px 0 / 68px auto transparent;
    height: 19px;
}
#community{
    background: url("dirigido2.png") no-repeat scroll 136px 0 / 68px auto transparent;
    height: 19px;
}
#social{
    background: url("dirigido3.png") no-repeat scroll 138px 0 / 68px auto transparent;
    height: 19px;
}

/* informes */
#informes_sectoriales{
    color: #999999;
    padding: 72px 0 0;
}
.base-informes{
  background: url("base-informes2.jpg") no-repeat scroll 0 -236px #5F4B8E;
}
.transparencia {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.9);
    height: 400px;
    padding: 6px 5px;
}
#info1{
    color: #FFFFFF;
    padding-top: 12px;
}
#info2{
    color: #50388C;
    font-weight: bold;
    padding: 14px 20px 0;
}    
#info3{
    color: #50388C;
    font-weight: bold;
    padding: 0 20px; 
}
#info4{
    color: #50388C;
}


/*partners*/
#partners{
    color: #999999;
    padding: 62px 0;
}
#partners li{
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 13px 21px 10px;
    min-height: 65px;
    min-width: 245px;
    vertical-align: top;
} 
.image-partner{
  background:#000;
  height: 50px;
  margin:0 auto;
}
#seedrocket{
   background: url("partners/seedRocket-color.png") no-repeat scroll 0 0 transparent;
    width: 228px;
}
#bertelsmann{
    background: url("partners/2.bertelsmann.jpg") no-repeat scroll 0 10px transparent;
    width: 201px;
}
#iebs{
    background: url("partners/3.iebs.jpg") no-repeat scroll 0 0 transparent;
    width: 184px; 
}
#gigas{
    background: url("partners/4.gigas.jpg") no-repeat scroll 0 0 transparent;
    width: 121px;
}


#metricson{
    background: url("partners/5.metricson.jpg") no-repeat scroll 0 0 transparent;
    width: 206px;
}
#lasalle{
    background: url("partners/lasalle-color.png") no-repeat scroll 0 0 transparent;
    width: 149px;
}
#digitalweek{
    background: url("partners/digitalweek-color.png") no-repeat scroll 0 0 transparent;
    width: 120px;

}
#busco{
    background: url("partners/buscoseo-color.png") no-repeat scroll 0 0 transparent;
    width: 104px; 
}


#global{
    background: url("partners/global-color.png") no-repeat scroll 0 0 transparent;
    width: 103px; 
}
#socialday{
    background: url("partners/10.Mashable.jpg") no-repeat scroll 0 0 / 91px 88px transparent;
    height: 87px;
    width: 115px;
}
#congres{
    background: url("partners/w-congress-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 11px;
    width: 46px;
}
#school{
    background: url("partners/w_school-color.png") no-repeat scroll 0 0 transparent;
    margin-top: 11px;
    width: 45px; 
}



/*######################################################################*/
/*### search-page ######################################################*/
/*######################################################################*/
#search-page{
    padding: 0 10px 76px;
}
#consulta{
  color: #6EC7D9;
}
.arrow {
    background: url("arrows-engagement.png") repeat scroll -64px -5px transparent;
    display: inline;
    float: right;
    height: 46px;
    margin-top: 0;
    width: 45px;
}
.arrow:hover{
    background: url("arrows-engagement.png") repeat scroll -130px -5px transparent; 
}
#div-search-box{
    display: block;
    height: 50px;
    margin: 0 auto;
}
#quieres{
    margin: 48px auto 5px;
    max-width: 327px;
}
#conectarConFacebook{
    margin-top: 41px;
}


/*######################################################################*/
/*### search-engagement-page ############################################*/
/*######################################################################*/
#search-engagement-page {
    padding: 17px 10px 85px;
}
.form-case {
    margin: 20px 0 10px;
}
.podium-case {
    margin: 32px 0 10px;
}


/*######################################################################*/
/*### sobre socialwin ############################################*/
/*######################################################################*/
#cita{
    background: none repeat scroll 0 0 #E8E9EB;
    padding: 38px 10px 85px;
}
.cita-case{
    color: #3F3F3F;
    margin: 0 auto;
    max-width: 830px;    
}
#cita-thomas{
    line-height: 23px;
    margin: 0 auto;

}
#cita-thomas-sign{
    color: #3F3F3F;
    margin: 0 auto;
    max-width: 830px;
}
#informe-social-media {
    padding: 20px 10px 30px;
}

#informe-social-media .container.text-center > p {
    margin: 0 0 51px;
}
.descargar-informe{
      border-color: #EDEDED;
    color: #999999;
    font-weight: bold;
    font-family:Helvetica;
}
#informe-social-media .span6 p {
    padding: 4px 97px 13px;
}

#blog {
    padding: 23px 10px 43px;
}
.post{
  
}
.titulo-post {
    background-color: #EDEEE5;
    color: #4D4D4D;
    font-family: Helvetica;
    font-weight: bold;
    margin: 5px 0 17px;
    padding: 15px 30px;
}
.content-post{}

#equipo{
    padding: 23px 10px 43px;  
}


@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
  .navbar-fixed-top {top: 0px;}
}



@import "bootstrap-responsive";

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
  #lazo{display:none;}
  .navbar-fixed-top {top: 0px;}
}


.navbar-fixed-top {
    top: 0px;
}