		<footer class="footer">
		  <small>
		  	<%= link_to "SocialWin", 'http://www.socialwin.es' %>
		    Analytics
		  </small>
		  <nav>
		    <ul>
		      <li><small><%= link_to "Quién somos",   'http://www.socialwin.es/nosotros/vision/' %></small></li>
		      <li><small><%= link_to "Contacto", 'http://www.socialwin.es/contacto/' %></small></li>
		    </ul>
		  </nav>
		</footer>