		<footer class="footer">
		  <small>
		  	<%= link_to 'http://www.socialwin.es' do %>
		  	 <%= image_tag("/assets/logo32x32.png", alt: "SocialWin", class: "gravatar", title: "socialwin")  %>
			 SocialWin Analytics
			<% end %>
		  </small>
		  <nav>
		    <ul>
		      <li><small><%= link_to "Quién somos",   'http://www.socialwin.es/nosotros/vision/' %></small></li>
		      <li><small><%= link_to "Contacto", 'http://www.socialwin.es/contacto/' %></small></li>
		    </ul>
		  </nav>
		</footer>