<% if signed_in? %>
	<% list = get_active_list %>
    <% page = get_active_list_page %>
    
	<% if !page.nil? %>
			<div class="page_active_dashboard">
				<strong><%= list.name %> list</strong>
				<br />
				<%= link_to page do %>
					<%= image_tag fb_get_picture(page), alt: page.name, class: "imgpage", alt: "#{page.name}", title: "#{page.name}" %>
					<strong><%= page.name %></strong>
				<% end %>
			</div>

	<% end %>
<% end %>
