<% if signed_in? %>
    <% @page = current_user.pages.find(get_active_page) %>
	<% if current_user.pages.count > 0 %>

			<div class="page_active_dashboard">
				<%= link_to @page do %>
					<%= image_tag @page.pic_square, alt: @page.name, class: "imgpage", alt: "#{@page.name}", title: "#{@page.name}" %>
					<strong><%= @page.name %></strong>
				<% end %>
			</div>

	<% end %>
<% end %>
